/* navigation */
#navbar{
    flex-direction: column;
}

/* home section */
#home{
    height: 370px;
    
}
#home::before{
    height: 480px;
    
}
#home p{
    font-size: 13px;
}
/* services section */
#services{
flex-direction: column;
}
#services .box{

}
/* client section */
#client{
    overflow: hidden;
}


/* contact us section */

/* footer section */

/* utility section */
.h-primary{
    font-size: 26px;
}