@font-face {
    font-family: 'incised';
    src: url(./assets/Fonts/Incised\ 901\ Black\ \(1\).ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(./assets/Fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Niconne';
    src: url(./assets/Fonts/Niconne-Regular.ttf);
}



:root {
    /*color */
    --primary-color: #1E1E1E;
    --secondary-color: #F8DC85;

    /* font-color */
    --primary-f-color: #474747;
    --secondary-f-color: #212121;
    --third-f-color: #000000;
    --forth-f-color: #9B9B9B;

    /* Fonts */
    --primary-font: "Montserrat";
    --secondary-font: "incised";
    --third-font: "Niconne";

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

html {
    scroll-behavior: smooth;

}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.pos-rel {
    position: relative;
}

.pos-ab {
    position: absolute;
}

.row {
    display: flex;
}

.col-25 {
    width: 25%;
}

.col-33 {
    width: 30%;
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.col-66 {
    width: 60%;
}


/* basic nav */
.basic-nav h3 {
    background-color: var(--secondary-color);
    font-weight: 600;
    color: var(--primary-f-color);
    font-size: 15px;
}

/* header */
header {
    box-shadow: 0px 0px 1.4px black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo img {
    width: 109px;
    height: 48px;
}

nav ul {
    display: flex;
}

nav ul li {
    position: relative;
    list-style: none;
    line-height: 68px;
    margin: 0 10px;
}

nav ul li a::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 0;
    height: 2px;
    border-radius: 25px;
    background-color: var(--secondary-color);
    transition: width .5s;
}

nav ul li a:hover::after {
    color: blue;
    width: 100%;
}

nav ul li a {
    transition: all .1s;
}

nav ul li a:hover {
    color: var(--primary-color);
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-f-color);
}

.icon img {
    margin: 0 6px;
    cursor: pointer;
    padding: 2px;
}

.drop-down .items {
    display: none;
    transition: all 0.9s;
}

.icon .drop-down {
    display: none;
}

/* banner section*/
.banner {
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    background-color: var(--secondary-color);
    background-image: url("./assets/img/bg.png");
    background-position: right;
    background-repeat: no-repeat;
}

.banner .left-icon {
    border: 1px solid black;
    width: 44px;
    height: 180px;
    position: absolute;
    top: 164px;
    left: 44px;
    border-radius: 25px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.banner .left-icon :nth-child(1) img {
    width: 11px;
    height: 20px;
}

.banner .left-icon :nth-child(2) img {
    width: 19px;
    height: 19px;
}

.banner .left-icon :nth-child(3) img {
    width: 20px;
    height: 14px;
}

.banner .pos-ab-img {
    position: absolute;
}

.banner #ban-img-1 {
    width: 39%;
    bottom: 0;
    left: 31%;
}

.banner #ban-img-3 {
    right: 20%;
    top: 49px;
    width: 7%;
}

.banner #ban-img-4 {
    bottom: 94px;
    left: 49%;
    width: 26%;
}

.banner h1 {
    text-transform: uppercase;
    font-family: var(--secondary-font);
    /* font-family: 'incised_901black'; */
    text-align: center;
    color: #C99A58;
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 73px;
    margin-left: 153px;
}

.banner h2 {
    text-transform: uppercase;
    font-family: var(--secondary-font);
    text-align: center;
    color: #C99A58;
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 73px;
}

.banner .box {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.banner .box .box-one {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.banner .box .box-two {
    display: flex;
    align-items: center;
    margin-left: 109px;
}

.banner .box .box-three h3 {
    text-transform: uppercase;
    font-family: var(--secondary-font);
    font-size: 150px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: .7px;
    margin-left: 145px;
    letter-spacing: 10px;
}

.box .box-one img {
    width: 9%;
}

.box .box-two img {
    width: 16%;
}

.box .glow-box {
    width: 20%;
    font-size: 12px;
    margin-left: auto;
    margin-top: 33px;
    margin-bottom: 43px;
}

/* -----section-two and three mix------ */
.blam-sec {
    justify-content: space-between;
}

.blam-sec .blam-lef-sec .grp-dot {
    position: absolute;
    top: 47px;
    right: 18%;
}

.blam-sec .blam-lef-sec .blk-lip-img,
.face-surub-sec .serub-img-box img {
    width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;

}

.blam-sec .blam-right-sec {
    padding: 0 41px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.blam-sec .blam-right-sec img {
    position: absolute;
    top: 50px;
    right: -12px;
    width: 13%;

}

.blam-sec .col-50 h3 {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--forth-f-color);
}

.blam-sec .col-50 h2,
.face-surub-sec .col-60 h2 {
    font-size: 35px;
    line-height: 54px;
    letter-spacing: 1px;
    color: var(--secondary-f-color);
    font-weight: 600;
}

.blam-sec .col-50 p {
    max-width: 667px;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: var(--secondary-f-color);
}

.face-surub-sec .col-60 p {
    max-width: 539px;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: var(--secondary-f-color);
}

.blam-sec .col-50 h4,
.face-surub-sec .col-60 h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 51px;
    font-style: normal;
    margin-bottom: 10px;
}

.blam-sec .col-50 .btn-one,
.face-surub-sec .col-60 .btn-one {
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 10px 20px;
    color: #000;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 25px;
    margin-right: 20px;
}

.blam-sec .col-50 .btn-two,
.face-surub-sec .col-60 .btn-two {
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 9px 19px;
    color: #000;
    border: 2px solid black;
    border-radius: 25px;
}

/* section third start */
.section-third .face-surub-sec {
    align-items: center;
}

.section-third .face-surub-sec .serub-text-box {
    padding: 0 40px;
}

/* section-forth start */
.section-forth {
    padding: 30px 0;
}

.section-forth .lips-slider img {
    width: 350px;
    height: 350px;
}

.section-forth .container h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--forth-f-color);
    margin-left: 38px;
}

.section-forth .lips-slider h4 {
    text-align: center;
    margin-bottom: 19px;
}

/* slick slider */
.slick-center {
    transform: scale(1.3);
}


.slick-slide img {
    transform: scale(0.8);
    max-width: 100%;
    margin: 0 auto;
    transition: all 0.4s ease-in-out;
}

.slick-slide {
    transition: all 0.4s ease-in-out;
    padding: 40px 0;
}

.slick-next:before,
.slick-prev:before {
    font-size: 37px !important;
    color: var(--secondary-color) !important;
}

/* -------fifth-section-------  */
.section-fifth .row .one-lip .card {
    max-width: 400px;
    margin-right: 28px;
    margin-top: -89px;
}

.section-fifth .row .one-lip .card img {
    width: 100%;
    height: auto;
}

.section-fifth .row .title {
    display: flex;
    justify-content: space-between;
    line-height: 40px;
}

.slick-dots {
    bottom: -153px !important;
}

.section-fifth .row .price-down {
    margin-top: 20px;
}

.section-fifth .row .slide-txt {
    justify-content: space-around;
}

.section-fifth .row .title h5 {
    font-weight: 800;
    font-size: 19px;
}

.section-fifth .one-lip .card .btn {
    display: flex;
    justify-content: center;
    margin-top: 58px;
}

.section-fifth .one-lip .card .btn-two {
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 8px 62px;
    color: #000;
    border: 1.4px solid black;
    border-radius: 25px;
}

.section-fifth .row .col-60 .col-30 .card-inner img {
    max-width: 320px;
    width: 100%;
    height: auto;
}

.section-fifth .col-60 .row {
    width: 108%;
    justify-content: space-between;
}

.section-fifth .col-60 .row .middle-card {
    margin-left: 33px;
    margin-top: 106px;
}

.section-fifth .col-60 .row .col-30 .last-card {
    margin-top: 206px;
}

.section-fifth .col-60 h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--forth-f-color);
    line-height: 40px;
    font-size: 22px;
}

.section-fifth .col-60 p {
    font-size: 19px;
    line-height: 30px;
}

.section-fifth .col-60 .main-title {
    padding-left: 90px;
}

.section-fifth .col-60 .main-title::before {
    content: "";
    width: 2px;
    height: 137%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 65px;
    border-radius: 25px;
}

.section-fifth .col-60 .main-title p::after {
    content: "";
    width: 21%;
    height: 2px;
    background-color: #000;
    position: absolute;
    bottom: -12px;
    left: 35px;
    border-radius: 25px;
}



/* six section */
.section-six {
    background: url(./assets/img/six-sec-bg.png);
    margin-top: 20px;
    margin-bottom: 140px;
}

.section-six .col-40 .row-one {
    flex-direction: column;
}

.section-six .col-40 .row-one .col-one {
    margin-top: 45px;
}

.section-six .row-one h2 {
    font-family: var(--third-font);
    font-size: 69px;
    line-height: 100px;
}

.section-six .row-one p {
    font-size: 19px;
    line-height: 28px;
}

.section-six .row-one .btn-three {
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 8px 62px;
    color: #000;
    border: 1.4px solid black;
    border-radius: 25px;
    line-height: 82px;
}

.section-six .col-60 div {
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -67px;
}

.section-six .col-60 img {
    width: 100%;
    height: 100%;
}

.section-six .col-40 .row-two {
    justify-content: space-between;
}

.section-six .col-40 .row-two img {
    width: 128px;
    height: auto;
}


/* footer section */
.footer-section {
    background: url(./assets/img/footer-bg.png);
    position: relative;
}

.footer-section .footer-top {
    position: absolute;
    top: -84px;
    left: 15%;
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 0px 23px -17px rgba(0 0 0.5);
    ;
    border-radius: 80px;
    padding: 20px 30px;
    background-color: #fff;
}

.footer-section .footer-top .row {
    justify-content: space-between;
    align-items: center;
}

.footer-section .footer-top h3 {
    font-size: 21px;
    line-height: 44px;
}

.footer-section .footer-top p {
    font-size: 16px;
}

.footer-section .footer-top .search-container {
    position: relative;
    border-radius: 30px;
    padding: 3px 50px 3px 10px;
    border: 2px solid #F8DCB5;
    width: 40%;
}

.footer-section .footer-top .search-box {
    background-color: transparent;
    outline: none;
    height: 35px;
    font-size: 15px;
    border: 0;
    width: 100%;
}

.footer-section .footer-top .search-button {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #F8DCB5;
    border-radius: 30px;
    border: 0;
    color: var(--third-f-color);
    font-weight: 800;
    text-transform: uppercase;
    width: 125px;
    height: 100%;
    outline: 0;
    cursor: pointer;
}

.footer-section .footer-middle {
    padding-top: 81px;
}

.footer-section .footer-middle .col-25 h3 {
    text-transform: uppercase;
    margin-bottom: 14px;
}

.footer-section .footer-middle .col-25 ul li {
    list-style: none;
}

.footer-section .footer-middle .col-25 ul li a {
    text-decoration: none;
    color: var(--third-f-color);
    display: inline-block;
    margin: 5px 0;
}

.footer-section .footer-middle .add-bar ul li:nth-child(even) a {
    font-size: 12px;
}

.footer-section .footer-middle .add-bar ul li:nth-child(2) a {
    text-decoration: underline;
    color: #000;
}

.footer-section .footer-middle .add-bar ul li:nth-child(4) a {
    text-decoration: underline;
    color: #000;
}

.footer-section .footer-middle .add-bar ul li a {
    margin: 4px 0;
}

.footer-section .footer-last {
    margin-top: 46px;
    padding-bottom: 17px;
}

.footer-section .footer-last .row {
    justify-content: space-between;
    align-items: center;
}

.footer-section .footer-last .row .footer-last-text h4 {
    font-size: 10px;
}

.footer-section .footer-last .row .social-logo img {
    width: 24px;
    margin-right: 5px;
}

.footer-section .footer-last .row .last-card img {
    width: 320px;
}


/* Media Query  */
@media (max-width:1335px) {

    .banner h1 {
        font-size: 64px;
    }

    .banner h2 {
        font-size: 64px;
    }

    .banner #ban-img-3 {
        right: 24%;

    }
}

@media (max-width:1300px) {
    .banner #ban-img-3 {
        right: 23%;
    }

    .footer-section .footer-top .search-box {
        font-size: 13px;
    }
}

@media (max-width:1270px) {
    .banner #ban-img-3 {
        right: 21.5%;
    }

    .section-fifth .row .one-lip .card {
        margin-right: 20px;
    }

    .section-fifth .col-60 .row .middle-card {
        margin-left: 15px;
    }
}

@media (max-width:1240px) {
    .banner #ban-img-3 {
        right: 20.5%;
    }

    .section-fifth .row .one-lip .card {
        margin-right: 0px;
    }

}

@media (max-width:1220px) {
    .banner #ban-img-3 {
        right: 19.5%;
        width: 6%;
        right: 21.5%;
    }
}

@media (max-width:1199px) {
    .navbar .logo img {
        width: 90px;
        height: 37px;
    }

    nav ul li a {
        font-size: 14px;
    }

    nav ul li {
        line-height: 53px;
    }

    .icon img {
        width: 22px;
    }

    .banner h1 {
        font-size: 59px;
        line-height: 90px;
    }

    .banner h2 {
        font-size: 59px;
    }

    .box .box-one img {
        width: 7%;
    }

    .box .box-two img {
        width: 11%;
    }

    .box .box-two img {
        width: 11%;
    }

    .banner .box .box-three h3 {
        font-size: 123px;
    }

    .banner #ban-img-4 {
        left: 49%;
        width: 22%;
    }

    .box .glow-box {
        margin-right: 49px;
        margin-top: 33px;
        margin-bottom: 41px;
    }

    .banner .left-icon {
        width: 34px;
        height: 132px;
    }

    .banner #ban-img-3 {
        display: none;
    }

    /* section two start */

    .blam-sec .col-50 h3 {
        font-size: 16px;
    }

    .blam-sec .col-50 h2,
    .face-surub-sec .col-60 h2 {
        font-size: 25px;
    }

    .blam-sec .col-50 p {
        font-size: 15px;
    }

    .blam-sec .col-50 h4,
    .face-surub-sec .col-60 h4 {
        font-size: 18px;
    }

    .face-surub-sec .col-60 p {
        max-width: 435px;
        font-size: 15px;
    }

    /* slider start */
    .section-forth .lips-slider img {
        width: 300px;
        height: 300px;
    }

    .section-fifth .col-60 h3 {
        font-size: 18px;
    }

    .section-fifth .col-60 p {
        font-size: 13px;
        line-height: 24px;
        width: 86%;
    }

    .section-fifth .row .one-lip .card img {
        width: 80%;
        height: auto;
    }

    .section-fifth .row .col-60 .col-30 .card-inner img {
        width: 80%;
    }

    .slide-txt h4 {
        font-size: 12px;
    }

    .section-fifth .row .title h5 {
        font-size: 16px;
    }

    .price-down h4 {
        font-size: 12px;
    }

    .card-inner .price-down {
        width: 258px;
    }

    .slide-txt {
        justify-content: space-evenly;
        padding-left: 40px;
        padding-right: 40px;
    }

    .section-six .row-one h2 {
        font-size: 57px;
    }

    .section-six .row-one p {
        width: 351px;
        font-size: 14px;
        line-height: 22px;
    }

    .section-six .row-one .btn-three {
        padding: 8px 36px;
    }

    .footer-section .footer-top h3 {
        font-size: 16px;
        line-height: 34px;
    }

    .footer-section .footer-top p {
        font-size: 11px;
    }

    .footer-section .footer-top .search-box {
        font-size: 10px;
    }

    .footer-section .footer-top .search-button {
        font-size: 11px;
    }

    .section-fifth .one-lip .card .btn-two {
        font-size: 15px;
        padding: 7px 29px;
    }

    .section-fifth .one-lip .card .btn {
        margin-top: 0px;
    }

    .slick-dots {
        bottom: -111px !important;
    }

}

@media (max-width:1060px) {

    .banner h1 {
        margin-left: 119px;
        font-size: 56px;
    }

    .banner .box .box-two {
        margin-left: 80px;
    }

    .banner .box .box-three h3 {
        margin-left: 93px;
    }

    .banner #ban-img-4 {
        width: 20%;
    }

    .banner h2 {
        font-size: 56px;
    }

    .section-two {
        margin: 30px 0;
    }

    .section-six .col-60 div {
        right: -53px;
    }

    .section-fifth .row .price-down {
        width: 212px;
    }

}

/* tablet display start here */
@media (max-width:991px) {

    .basic-nav {
        display: none;
    }

    .box .box-one img {
        display: none;
    }

    .box .box-two img {
        display: none;
    }

    .navbar nav {
        display: none;
    }

    .banner h1 {
        margin-left: 0px;
        font-size: 52px;
    }

    .banner h2 {
        font-size: 52px;
    }

    .banner .box .box-two {
        margin-left: 0px;
    }

    .banner .box .box-three h3 {
        margin-left: 0px;
    }

    .banner .box {
        align-items: center;
    }

    .navbar .icon .drop-down {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 30px;
        cursor: pointer;
        border-radius: 5px;
        color: black;
    }

    .navbar .icon .drop-down .right-icon,
    .navbar .icon .drop-down .left-icon {
        position: relative;
        width: 10px;
        height: 2px;
        background-color: #000;
        border-radius: 25px;
    }

    .drop-down .left-icon {
        transform: rotate(45deg);
        left: 2px;
        transition: all 0.5s;
    }

    .drop-down .right-icon {
        transform: rotate(-45deg);
        right: 2px;
        transition: all 0.5s
    }

    .drop-down.active .left-icon {
        transform: rotate(135deg);
    }

    .drop-down.active .right-icon {
        transform: rotate(-135deg);
    }


    .drop-down.active .items {
        display: block;
    }

    .drop-down .items {
        display: none;
        position: absolute;
        top: 39px;
        right: 0;
        width: 20%;
        height: 60%;
        z-index: 1;
        transition: all 0.3s;
    }

    .drop-down .items a {
        background-color: rgba(255 0 0.2);
        opacity: 0.6;
        position: relative;
        display: flex;
        color: #fff;
        text-decoration: none;
        padding: 10px 15px;
        border-radius: 5px;
        margin-top: 2.5px;
        transition: margin .2s;
    }

    .drop-down .items a span {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: green;
        z-index: -1;
        transition: width .5s;
    }

    .drop-down .items a:hover {
        margin-left: 7px;

    }

    .drop-down .items a:hover span {
        width: 0;
    }

    .blam-sec {
        flex-wrap: wrap;
    }

    .blam-sec .blam-right-sec {
        padding: 0;
    }

    .section-third .face-surub-sec .serub-text-box {
        padding: 0;
    }

    .blam-sec .col-50 h2,
    .face-surub-sec .col-60 h2 {
        font-size: 22px;
    }

    .section-fifth .col-60 .row,
    .section-six .col-60,
    .footer-section .footer-top .row br {
        display: none;
    }

    .section-six .col-40 {
        width: 100%;
    }

    .section-six .main-row {
        display: block;

    }

    .section-six .col-40 .row-one {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .section-fifth .col-60 .main-title p::after {
        width: 37%;
    }

    .footer-section .footer-top .row {
        flex-direction: column;
    }

    .footer-section .footer-top .row {
        text-align: center;
    }

    .footer-section .footer-top .search-container {
        margin-top: 12px;
        padding: 0px 50px 0px 10px;
        width: 59%;
    }

    .footer-section .footer-top {
        padding: 6px 30px;
    }

    .slick-dots {
        bottom: -7px !important;
    }

    .footer-section .footer-middle .col-25 {
        width: 50%;
    }

    .footer-section .footer-middle {
        flex-wrap: wrap;
    }

    .banner .left-icon {
        flex-direction: row;
        width: 132px;
        height: 34px;
        top: 364px;
    }

    .footer-section .footer-last .row {
        flex-direction: column;
        align-items: center;
    }

    .footer-section .footer-last .social-logo {
        order: -1;
    }

    .footer-section .footer-last .footer-last-text {
        margin: 10px 0;
    }
}



@media (max-width:767px) {
    .drop-down .items {
        width: 100%;
    }

    .drop-down .items a {
        justify-content: center;
    }

    .drop-down .items a span {
        width: 100%;
        height: 100%;
    }

    .drop-down .items a:hover span {
        height: 0;
    }

    .blam-sec .col-50 {
        width: 100%;
    }

    .col-40 {
        width: 100%;
    }

    .section-third .col-60 {
        width: 100%;
    }

    .face-surub-sec .col-60 p {
        max-width: 100%;
    }

    .section-third .face-surub-sec {
        flex-direction: column-reverse;
    }

    .section-fifth .row {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .section-fifth .col-30 {
        width: 100%;
    }

    .section-fifth .col-60 {
        width: 100%;
    }

    .section-fifth .col-60 p {
        width: 100%;
    }

    .section-fifth .row .one-lip .card img {
        width: 100%;

    }

    .section-fifth .row .one-lip .card {
        margin: 0 auto;
    }

    .section-six .col-40 {
        width: 100%;
    }

    .section-six .col-40 .row-one {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-six .col-40 .row-one .col-one {
        text-align: center;
    }

    .section-six .row-one p {
        width: 100%;
    }

    .section-six .col-two {
        width: 100%;
    }

    .section-six .col-40 .row-two {
        justify-content: space-around;
    }

}

@media (max-width:750px) {
    .banner h1 {
        font-size: 40px;
    }

    .banner h2 {
        font-size: 40px;
    }

    .banner .box .box-three h3 {
        font-size: 85px;
    }
}


@media (max-width:575px) {
    .banner .box .box-three h3 {
        font-size: 70px;
    }

    .banner #ban-img-4 {
        display: none;
    }

    .glow-box p,
    .glow-box h3 {
        display: none;
    }

    .banner #ban-img-1 {
        width: 58%;
        left: 42%;
    }

    .banner h1 {
        font-size: 45px;
    }

    .banner h2 {
        font-size: 45px;
        line-height: 79px;
    }

    .banner .box .box-three h3 {
        padding-bottom: 113px;
    }

    .banner .left-icon {
        top: 480px;
    }

    .footer-section .footer-top .search-button {
        font-size: 9px;
    }

    .footer-section .footer-top .search-button {
        width: 78px;
        height: 100%;
    }

    .footer-section .footer-top .search-box {
        height: 23px;
    }

    .footer-section .footer-top h3 {
        font-size: 14px;
    }

}

@media (max-width:480px) {
    .banner .box .box-three h3 {
        font-size: 40px;
    }

    .section-six .col-40 .row-two img {
        width: 95px;
    }

    /* .banner .left-icon {
        top: 587px;
        left: 21px;
    } */
    .section-six .row-one h2 {
        font-size: 33px;
    }

    .section-six .col-40 .row-one .col-one {
        margin-top: 0px;
    }

    .footer-section .footer-top {
        left: 5%;
        width: 90%;
        top: -45px;
    }

    .footer-section .footer-top h3 {
        font-size: 10px;
        line-height: 22px;
    }

    .footer-section .footer-top p {
        font-size: 7px;
    }

    .footer-section .footer-top .search-container {
        width: 79%;
    }

    .footer-section .footer-last .row .last-card img {
        width: 277px;
    }

    .blam-sec .col-50 h2,
    .face-surub-sec .col-60 h2 {
        line-height: 33px;
    }

    .section-six {
        margin-bottom: 80px;
    }

    .footer-section .footer-middle .col-25 ul li a {
        font-size: 12px;
    }

    .footer-section .footer-last {
        margin-top: 40px;
    }

    .footer-section .footer-middle .col-25 h3 {
        font-size: 14px;
    }

    .banner h1 {
        line-height: 61px;
    }

    .section-fifth .col-60 .main-title {
        padding-left: 46px;
    }

    .section-fifth .col-60 .main-title::before {
        left: 29px;
    }
    .section-fifth .col-60 .main-title p::after {
        width: 70%;
    }
    .section-fifth .col-60 .main-title p::after {
      
        left: -2px;
       
    }
}