* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-item {
    margin: 0 12px;
}

.carousel-item img {
    width: 90%;
    height: 80vh;
}

h1 {
    font-family: 'Dancing Script', cursive;
}       